.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 3;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 2;
  }

  &__nav {
  }

  &__list {
    list-style: none;
  }

  &__item {
  }

  &__link {
  }
}
