@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.5;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 0.5;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes flipIt {
  0% {
    opacity: 0.5;
    transform: rotate(0deg);
  }
  /* 50% {
    opacity: 0.5;
    transform: rotate(180deg);
  } */
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateX(20rem) translateY(20rem);
  }
  70% {
    opacity: 0.7;
    transform: translateX(-2rem) translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
